body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  margin: 10px;
  background-color: lightblue;
}
.thumnail{
  width: 350px;
  height: 200px;
  border: 2px solid gray;
  border-radius: 5px;
}
.logo{
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.flx{
display: flex;
}
.m{
  margin: 0px 5px;
}

.title-name{
  font-size: 20px;
  font-weight: 500;
}
.c{
  color: rgb(86, 84, 84)
}
.discription{
  color: gray;
  width: 350px;
  margin: 0 10px;
}